@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for background, font, and body */
body {
  background: linear-gradient(135deg, #3a73a8 0%, #2c7a7b 50%, #6a4c93 100%);
  font-family: 'Poppins', sans-serif; /* For body text */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif; /* For bold and stylish headings */
  color: #fff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
