@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #3498db, #9b59b6); /* Blue to Purple Gradient */
  background-size: cover;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
