@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for background, font, and body */
body {
  background: linear-gradient(135deg, #2A3D66 0%, #4F8F99 50%, #6A44A0 100%);
  font-family: 'Poppins', sans-serif; /* For body text */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif; /* For bold and stylish headings */
  color: #fff;
}

a {
  text-decoration: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
